name: Build & Push & Deploy Blazor Server

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Restore
        working-directory: ./src/RateMyResto
        run: dotnet restore RateMyResto.slnx

      - name: Build
        working-directory: ./src/RateMyResto
        run: dotnet build RateMyResto.slnx --configuration Release --no-restore
        
  docker:
    name: Docker Build & Push
    runs-on: ubuntu-latest
    needs: build
    environment: DOCKERHUB
    permissions:
      contents: read
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: ./src
          file: ./src/Dockerfile
          push: true
          platforms: linux/amd64
          tags: |
            anthonyryck/ratemyresto:latest
          labels: |
            org.opencontainers.image.source=${{ github.repository }}
            org.opencontainers.image.revision=${{ github.sha }}
            org.opencontainers.image.created=${{ github.run_started_at }}

  # deploy:
  #   environment: DOCKERHUB
  #   name: Deploy on remote server
  #   runs-on: ubuntu-latest
  #   needs: docker
  #   steps:
  #     - name: Pull & Restart via SSH
  #       uses: appleboy/ssh-action@v1.0.0
  #       with:
  #         host: ${{ secrets.SSH_HOST }}
  #         username: ${{ secrets.SSH_USER }}
  #         key: ${{ secrets.SSH_KEY }}
  #         script: |
  #           echo "Arret du container..."
  #           docker compose -f /opt/docker-compose.yml stop rate-my-resto
  #           docker rm rate-my-resto || true
  #           docker rmi anthonyryck/ratemyresto:latest || true
  #           docker compose -f /opt/docker-compose.yml up -d
  #           echo "Deploiement termine."